{% load static %}

<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.parallax-scroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.dd.min.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>