{% load i18n %}

<div class="top-header bg_dark light_skin">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <ul class="header_list text-center text-md-left">
                    <li><i class="far fa-clock"></i> <span id="current_time"></span></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}">{% trans "Aller au site" %}<i class="ion-open-outline"></i></a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">{% trans "Connexion" %}</a></li>

                    {% endif %}
                </ul>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="lng_dropdown mr-2">
                        <select name="countries" class="custome_select">
                            <option value='en' data-title="English">English</option>
                            <option value='fn' data-title="France">France</option>
                        </select>
                    </div>
                    <ul class="social_icons social_white">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>