{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Acceuil" %}
{% endblock title %}

{% block content %}
<!-- START SECTION BANNER -->
<div class="banner_section staggered-animation-wrap slide_medium">
    <div class="carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-items="1" data-dots="false" data-nav="true" data-smart-speed="1500">
        <div class="item active background_bg overlay_bg_60" data-img-src="assets/images/banner_post_img1.jpg">
            <div class="banner_slide_content">
                <div class="container"><!-- STRART CONTAINER -->
                    <div class="row">
                        <div class="col-xl-6 col-md-8 col-sm-12">
                            <div class="banner_content">
                                <div class="blog_tags">
                                    <a class="blog_tags_cat bg_warning" href="#">travel</a>
                                </div>
                                <h2 class="blog_heading"><a href="#">On the other hand we provide Inhence with righteous Career</a></h2>
                                <ul class="blog_meta">
                                    <li>
                                        <a href="#">
                                            <i class="ti-calendar"></i>
                                            <span>April 14, 2018</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-comments"></i>
                                            <span>40 Comments</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
            </div>
        </div>
        <div class="item background_bg overlay_bg_60" data-img-src="assets/images/banner_post_img2.jpg">
            <div class="banner_slide_content">
                <div class="container"><!-- STRART CONTAINER -->
                    <div class="row">
                        <div class="col-xl-6 col-md-8 col-sm-12">
                            <div class="banner_content">
                                <div class="blog_tags">
                                    <a class="blog_tags_cat bg_blue" href="#">Fashion</a>
                                </div>
                                <h2 class="blog_heading"><a href="#">A cheap and flexible solution for the starter package </a></h2>
                                <ul class="blog_meta">
                                    <li>
                                        <a href="#">
                                            <i class="ti-calendar"></i>
                                            <span>April 14, 2018</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-comments"></i>
                                            <span>40 Comments</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
            </div>
        </div>
        <div class="item background_bg overlay_bg_60" data-img-src="assets/images/banner_post_img3.jpg">
            <div class="banner_slide_content">
                <div class="container"><!-- STRART CONTAINER -->
                    <div class="row">
                        <div class="col-xl-6 col-md-8 col-sm-12">
                            <div class="banner_content">
                                <div class="blog_tags">
                                    <a class="blog_tags_cat bg_danger" href="#">Lifestyle</a>
                                </div>
                                <h2 class="blog_heading"><a href="#">The Sanford Stadium project consists of three main areas</a></h2>
                                <ul class="blog_meta">
                                    <li>
                                        <a href="#">
                                            <i class="ti-calendar"></i>
                                            <span>April 14, 2018</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-comments"></i>
                                            <span>40 Comments</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->

<!-- START BLOG SERVICES -->
<div class="section">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="carousel_slider owl-carousel owl-theme nav_style4" data-margin="30" data-dots="false" data-nav="true" data-loop="true" data-autoplay="true" data-responsive='{"0":{"items": "1"}, "380":{"items": "2"}, "767":{"items": "3"}}'>
                    <div class="item">
                        <div class="service_box">
                            <a href="#">
                                <img src="assets/images/service_img1.jpg" alt="service_img"/>
                                <span class="lable">Lifstyle</span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service_box">
                            <a href="#">
                                <img src="assets/images/service_img2.jpg" alt="service_img"/>
                                <span class="lable">Fashion</span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service_box">
                            <a href="#">
                                <img src="assets/images/service_img3.jpg" alt="service_img"/>
                                <span class="lable">Travelling</span>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service_box">
                            <a href="#">
                                <img src="assets/images/service_img4.jpg" alt="service_img"/>
                                <span class="lable">Photography</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BLOG CATEGOREIS -->

<!-- START NEWSLETTER SECTION -->
<div class="section background_bg overlay_bg_70 overflow-hidden fixed_bg" data-img-src="assets/images/newsletters_bg.jpg">
	<div class="container">
    	<div class="row justify-content-between align-items-center">
        	<div class="col-lg-5 col-md-6">
            	<div class="heading_s1 heading_light">
                	<h4>Subscribe Our Newsletter</h4>
                </div>
                <p class="text-white mb-md-0">Contrary to popular belief of lorem Ipsm Latin from consectetur industry blandit massa enim varius nunc.</p>
            </div>
            <div class="col-lg-6 col-md-6">
            	<div class="newsletter_form input_tran_white">
                    <form>
                        <input type="text" required="" class="form-control form-control-sm rounded-input" placeholder="Your email address..">
                        <button type="submit" title="Subscribe" class="btn btn-default btn-radius btn-sm" name="submit" value="Submit">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END NEWSLETTER SECTION -->

<!-- START BLOG WITH SIDEBAR -->
<div class="section">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-8">
            	<div class="blog_article">
                	<div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img1.jpg" alt="blog_img1">
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_blue" href="#">fashion</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">The Master Of Human Happiness</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img2.jpg" alt="blog_img2">
                                <div class="post_video_icon"><i class="fas fa-play"></i></div>
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_warning" href="#">Travel</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">I Must Explain To This Mistaken</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img3.jpg" alt="blog_img3">
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_danger" href="#">Lifestyle</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">There Anyone Who Loves Hims</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img4.jpg" alt="blog_img4">
                                <div class="post_video_icon"><i class="fas fa-play"></i></div>
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_success" href="#">Music</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">Which Toil And Pain Can Procure</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img5.jpg" alt="blog_img5">
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_purple" href="#">Photography</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">Claims Of Duty Or The Obligations</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="blog_img">
                            <a href="#">
                            	<img src="assets/images/blog_img6.jpg" alt="blog_img6">
                            </a>
                        </div>
                        <div class="blog_content">
                        	<div class="blog_text">
                        		<div class="blog_tags">
                                    <a class="blog_tags_cat bg_danger" href="#">Brand</a>
                                </div>
                        		<h5 class="blog_heading"><a href="#">Every Pleasure Is To Be Welcomed</a></h5>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="ti-calendar"></i> <span>April 14, 2018</span></a></li>
                                    <li><a href="#"><i class="ti-comments"></i> <span>2 Comments</span></a></li>
                                </ul>
                        		<p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this generator on the Internet.</p>
                        	</div>
                        </div>
                    </div>
                </div>
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
            	<div class="sidebar mt-4 pt-2 mt-lg-0 pt-lg-0">
                	<div class="widget">
                    	<h5 class="widget_title">About Me</h5>
                        <div class="about_widget">
                            <div class="about_img">
                                <img src="assets/images/author_img.jpg" alt="author_img">
                            </div>
                            <h5>Alia Brock</h5>
                            <p>Lorem ipsum dolor sit amet elit adipiscing elit. Praesent id dolor dui dapibus gravida elit. Donec sit amet laoreet sagittis. </p>
                            <img src="assets/images/signature.png" alt="signature">
                        </div>
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Categories</h5>
                        <ul class="widget_categories">
                        	<li><a href="#"><div class="cat_bg background_bg overlay_bg_50" data-img-src="assets/images/cat_img1.jpg"><div class="post_category"><span class="cat_title">Business</span><span class="cat_num">2 Post</span></div></div></a></li>
                            <li><a href="#"><div class="cat_bg background_bg overlay_bg_50" data-img-src="assets/images/cat_img2.jpg"><div class="post_category"><span class="cat_title">Lifestyle</span><span class="cat_num">5 Post</span></div></div></a></li>
                            <li><a href="#"><div class="cat_bg background_bg overlay_bg_50" data-img-src="assets/images/cat_img3.jpg"><div class="post_category"><span class="cat_title">Travel</span><span class="cat_num">7 Post</span></div></div></a></li>
                            <li><a href="#"><div class="cat_bg background_bg overlay_bg_50" data-img-src="assets/images/cat_img4.jpg"><div class="post_category"><span class="cat_title">Fashion</span><span class="cat_num">4 Post</span></div></div></a></li>
                            <li><a href="#"><div class="cat_bg background_bg overlay_bg_50" data-img-src="assets/images/cat_img5.jpg"><div class="post_category"><span class="cat_title">Beauty</span><span class="cat_num">8 Post</span></div></div></a></li>
                        </ul>
                    </div>
                	<div class="widget">
                    	<h5 class="widget_title">Social Feed</h5>
                        <ul class="widget_social social_icons rounded_social">
                            <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#" class="sc_gplus"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#" class="sc_pinterest"><i class="ion-social-pinterest-outline"></i></a></li>
                    	</ul>
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Letest Posts</h5>
                        <ul class="recent_post">
                            <li>
                                <div class="post_footer">
                                    <div class="post_img">
                                        <a href="#"><img class="rounded-circle" src="assets/images/letest_post1.jpg" alt="letest_post1"></a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="#">Which Is The Saying From Toil And Pain</a></h6>
                                        <p class="small m-0">April 14, 2018</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post_footer">
                                    <div class="post_img">
                                        <a href="#"><img class="rounded-circle" src="assets/images/letest_post2.jpg" alt="letest_post2"></a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="#">Certain And Owing To The Claims Of Duty</a></h6>
                                        <p class="small m-0">April 14, 2018</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post_footer">
                                    <div class="post_img">
                                        <a href="#"><img class="rounded-circle" src="assets/images/letest_post3.jpg" alt="letest_post3"></a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="#">These Matters To This Principle Of Selection</a></h6>
                                        <p class="small m-0">April 14, 2018</p>
                                    </div>
                                </div>
                            </li>
                    	</ul>
                    </div>
                    <div class="widget">
                    	<div class="text-center">
                            <div class="ads_banner">
                                <a href="#"><img src="assets/images/ads336X280.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BLOG WITH SIDEBAR -->

<!-- START SECTION INSTAGRAM IMAGE -->
<div class="section p-0">
	<div class="container-fluid p-0">
        <div class="row no-gutters">
        	<div class="col-12">
            	<div class="follow_box">
                    <h3><i class="ti-instagram"></i> instagram</h3>
                    <span>@morusblog</span>
                </div>
            	<div class="client_logo carousel_slider owl-carousel owl-theme" data-dots="false" data-margin="0" data-loop="true" data-autoplay="true" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "767":{"items": "4"}, "991":{"items": "6"}}'>
                	<div class="item">
                    	<div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img1.jpg" alt="insta_img1"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img2.jpg" alt="insta_img2"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img3.jpg" alt="insta_img3"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img4.jpg" alt="insta_img4"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img5.jpg" alt="insta_img5"/>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="instafeed_box">
                        	<a href="#">
                                <img src="assets/images/insta_img6.jpg" alt="insta_img6"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION INSTAGRAM IMAGE -->

{% endblock content %}