{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Acceuil" %}
{% endblock title %}

{% block content %}

<div class="banner_section staggered-animation-wrap slide_medium">
    <div class="carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-items="1" data-dots="false" data-nav="true" data-smart-speed="1500">
        <div class="item active background_bg overlay_bg_60" data-img-src="assets/images/banner_post_img1.jpg">
            <div class="banner_slide_content">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-8 col-sm-12">
                            <div class="banner_content">

                                <h2 class="blog_heading"><a href="#">Site web communauté Mundang du monde entier !</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}